<!-- Next Steps -->
<h2>Build a word!</h2>
<p>Use the drop-down menus below</p>

<input type="hidden" #selection>

<ng-container class="block">
  <sentence-viewer [currentSentence]="currentSentence"></sentence-viewer>
  <word-builder *ngIf="dataLoaded" [wordTypes]="wordTypes" [words]="wordsData"
                (addedWordEvent)="addWord($event)"
                (removeWordEvent)="removeWord()"
                (removeAllWordsEvent)="removeAllWords()"
                (postSentence)="postSentence()">
  </word-builder>
</ng-container>

<ng-container class="block">
  <sentence-history-viewer [sentences]="allSentences"></sentence-history-viewer>
</ng-container>


