<div class="card-container">
  <select id="wordTypeDropDown" (change)="onWordTypeSelected($event)" class="minimal">
    <option *ngFor="let wordType of wordTypes">{{wordType}}</option>
  </select>
  <select id="wordDropDown" [(ngModel)]="selectedWord" class="minimal">
    <option *ngFor="let word of filteredWords">{{word}}</option>
  </select>
  <button class="btn btn-primary" (click)="addWord()">
    <span>Add Word</span>
  </button>
  <button class="btn btn-primary" (click)="removeWord()">
    <span>Delete Word</span>
  </button>
  <button class="btn btn-primary" (click)="removeAllWords()">
    <span>Clear Sentence</span>
  </button>
  <button class="btn btn-primary submit" (click)="postWord()">
    <span>Submit Word</span>
  </button>
</div>
